@keyframes ldio-mjfwwwberc {
    0 % {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.34,1.34);
    } 100% {
          opacity: 0;
          backface-visibility: hidden;
          transform: translateZ(0) scale(1,1);
      }
}
.ldio-mjfwwwberc {
    margin: 0 auto;
}
.ldio-mjfwwwberc div > div {
    position: absolute;
    width: 17.28px;
    height: 17.28px;
    border-radius: 50%;
    background: #1ecc93;
    animation: ldio-mjfwwwberc 0.5319148936170213s linear infinite;
}.ldio-mjfwwwberc div:nth-child(1) > div {
     left: 105px;
     top: 63px;
     animation-delay: -0.47281323877068554s;
 }
.ldio-mjfwwwberc > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 113.64px 71.64px;
}.ldio-mjfwwwberc div:nth-child(2) > div {
     left: 95px;
     top: 90px;
     animation-delay: -0.4137115839243498s;
 }
.ldio-mjfwwwberc > div:nth-child(2) {
    transform: rotate(40deg);
    transform-origin: 103.64px 98.64px;
}.ldio-mjfwwwberc div:nth-child(3) > div {
     left: 71px;
     top: 104px;
     animation-delay: -0.35460992907801414s;
 }
.ldio-mjfwwwberc > div:nth-child(3) {
    transform: rotate(80deg);
    transform-origin: 79.64px 112.64px;
}.ldio-mjfwwwberc div:nth-child(4) > div {
     left: 42px;
     top: 100px;
     animation-delay: -0.29550827423167847s;
 }
.ldio-mjfwwwberc > div:nth-child(4) {
    transform: rotate(120deg);
    transform-origin: 50.64px 108.64px;
}.ldio-mjfwwwberc div:nth-child(5) > div {
     left: 24px;
     top: 78px;
     animation-delay: -0.23640661938534277s;
 }
.ldio-mjfwwwberc > div:nth-child(5) {
    transform: rotate(160deg);
    transform-origin: 32.64px 86.64px;
}.ldio-mjfwwwberc div:nth-child(6) > div {
     left: 24px;
     top: 49px;
     animation-delay: -0.17730496453900707s;
 }
.ldio-mjfwwwberc > div:nth-child(6) {
    transform: rotate(200deg);
    transform-origin: 32.64px 57.64px;
}.ldio-mjfwwwberc div:nth-child(7) > div {
     left: 42px;
     top: 27px;
     animation-delay: -0.11820330969267138s;
 }
.ldio-mjfwwwberc > div:nth-child(7) {
    transform: rotate(240deg);
    transform-origin: 50.64px 35.64px;
}.ldio-mjfwwwberc div:nth-child(8) > div {
     left: 71px;
     top: 22px;
     animation-delay: -0.05910165484633569s;
 }
.ldio-mjfwwwberc > div:nth-child(8) {
    transform: rotate(280deg);
    transform-origin: 79.64px 30.64px;
}.ldio-mjfwwwberc div:nth-child(9) > div {
     left: 95px;
     top: 37px;
     animation-delay: 0s;
 }
.ldio-mjfwwwberc > div:nth-child(9) {
    transform: rotate(320deg);
    transform-origin: 103.64px 45.64px;
}
.loadingio-spinner-spin-tlu1uk4enql {
    width: 144px;
    height: 144px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}
.ldio-mjfwwwberc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-mjfwwwberc div {
    box-sizing: content-box;
}
/* generated by https://loading.io/ */